tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: C:\Users\REPLACE_USER\.cloudflared\REPLACE_WITH_TUNNEL_ID.json

ingress:
  - hostname: mls-site-test.yourdomain.in
    service: http://127.0.0.1:8080
  - service: http_status:404
