tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /home/cammonitor/.cloudflared/REPLACE_WITH_TUNNEL_ID.json

ingress:
  - hostname: your-site.yourdomain.in
    service: http://127.0.0.1:8080
  - service: http_status:404
